body{
    background-color: rgba(125, 182, 175, 0.767);
    color: rgb(242, 240, 235);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.grid-container {
    display: grid;
  grid-template-areas: 
    'header header header header header header'
    'div div div div div div' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
}

@media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'div div div div div div'
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
}

ul {
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    border: solid 5px;
    border-color: rgb(255, 255, 255);
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

header{
    grid-area: header;
    background-color: rgb(0, 0, 0);
    border: solid 5px;
    border-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center; 
}

main{
    grid-area: middle;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    text-align: center;
    color:black; 
}

main, fieldset{
    background-color:  rgba(255, 255, 255, 0.8);
}

section{
    grid-area: left;
    text-indent: 1em;
    background-color: rgba(140, 144, 144, 0.849);
    padding: 5px;
}

section a{
    color: rgb(242, 240, 235);
    text-decoration: none;
}

section a:hover{
    text-decoration: underline;
}

aside{
    grid-area: right;
    background-color: rgba(84, 91, 90, 0.874);
    padding: 5px;
    text-align: center; 
    
}

aside a{
    color: rgb(242, 240, 235);
    text-decoration: none;
}

aside a:hover{
    text-decoration: underline;
}

footer{
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    font-size: 50%;
}

footer a{
    color: rgb(242, 240, 235);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

table{
    margin-left: auto;
    margin-right: auto;
}

table, caption{
    background-color: rgb(242, 240, 235);
    border-top: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    align-content: left;
}

table, td {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(242, 240, 235); 
    border-collapse: collapse;
    text-align: center;
}

/*
caption{ 
    padding: 20px;
    border: 1px solid rgb(255, 255, 255); 
    border-collapse: collapse; 
    text-align: center;
}*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
  
  div.gallery:hover {
    border: 1px solid #d48c2e;
}
  
  div.gallery img {
    width: 50%;
    height: auto;
    border-radius: 45%;
}
  
  div.desc {
    padding: auto;
    text-align: center;
}